body {
  background-color: var(--black-color);
  color: var(--white-color);
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 3rem;
}

@media screen and (max-width: 1350px) {
  .content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

::selection {
  background: var(--orange-color);
  color: black;
}

::-moz-selection {
  background: var(--orange-color);
  color: black;
}