@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  box-sizing: border-box;
}

:root {
  --dark-grey-color: #1C1C1C;
  --button-grey-color: #242424;
  --input-bg-color: #292929;
  --input-hover-bg-color: #333333;
  --input-text-color: #757575;
  --black-color: #0a0a0a;
  --white-color: #FFFFFF;
  --orange-color: #F9A01B;
  --brown-color: #5C360D;
}


@media print {
  body * {
    visibility: hidden;
  }
  ._display_j7on2_1, ._display_j7on2_1 * {
    visibility: visible;
  }
  ._display_j7on2_1 {
    position: absolute;
    left: 0;
    top: -200px;
    overflow: hidden;
  }
}