@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  box-sizing: border-box;
}

:root {
  --dark-grey-color: #1C1C1C;
  --button-grey-color: #242424;
  --input-bg-color: #292929;
  --input-hover-bg-color: #333333;
  --input-text-color: #757575;
  --black-color: #0a0a0a;
  --white-color: #FFFFFF;
  --orange-color: #F9A01B;
  --brown-color: #5C360D;
}

@media print {

  @page {
    size: A4;
    margin: 0;
  }

  body * {
    visibility: hidden;
  }

  .content > div:nth-child(1),
  .content > div:nth-child(1) *
   {
    display: none;
  }


  .content > div:nth-child(2),
  .content > div:nth-child(2)  *
   {
    visibility: visible;
  }

  .content > div:nth-child(2)  {
    position: absolute;
    left: 50%;
    top: 0;
      width: 100vw;     
    height: 100vh;  
    transform: translateX(-50%);
    overflow: hidden;
    overflow: visible;
  }
}

